This notebook consists of Lists

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [10]:
my_str = "Aditya Nandi"

In [11]:
print(my_str.isalnum()) #check whether all the char are numbers
print(my_str.isalpha()) #check if all the char are alphabets
print(my_str.isdigit()) #check the string contains digit
print(my_str.istitle()) #check the string contains title words
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('I'))
print(my_str.startswith('A'))

False
False
False
True
False
False
False
False
True

Boolean and logical operators

In [12]:
True and False

False

In [13]:
True or False

True

In [14]:
False or False

False

In [23]:
my_str = "AdityaNandi"
word = "Aditya"

In [26]:
print(my_str.isalpha())
print(word.isnumeric())
print(my_str.isnumeric())

True
False
False

In [27]:
my_str.isalpha() or word.isnumeric()

True

Lists

In [28]:
type([])

list

In [29]:
lst_example = []

In [30]:
type(lst_example)

list

In [31]:
lst = ['Maths','aditya',True,0,1, 100]

In [32]:
lst

['Maths', 'aditya', True, 0, 1, 100]

In [34]:
lst.append("nandi")

In [35]:
lst.insert(1,"Mahi")

In [36]:
lst

['Maths', 'Mahi', 'aditya', True, 0, 1, 100, 'nandi']

In [37]:
lst[1:]

['Mahi', 'aditya', True, 0, 1, 100, 'nandi']

In [38]:
lst[3:5]

[True, 0]

In [39]:
len(lst)

8

In [42]:
lst[7]

'nandi'

In [43]:
lst.append(["social","economics"])

In [44]:
lst

['Maths', 'Mahi', 'aditya', True, 0, 1, 100, 'nandi', ['social', 'economics']]

list with extend

In [45]:
lst.extend(['Dynamics','Kinemantics'])

In [46]:
lst

['Maths',
 'Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics',
 'Kinemantics']

In [48]:
lst.pop()

'Kinemantics'

In [49]:
lst

['Maths',
 'Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics']

In [50]:
lst.pop(0)

'Maths'

In [52]:
lst.count(0)

1

In [53]:
lst.index(1,1,4)

2

In [54]:
lst * 2

['Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics',
 'Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics']

In [58]:
lst

['Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics']

In [62]:
lst.index("aditya",1,4)

1

In [57]:
lst[2]

True