This notebook consists of Lists

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [10]:
my_str = "Aditya Nandi"

In [11]:
print(my_str.isalnum()) #check whether all the char are numbers
print(my_str.isalpha()) #check if all the char are alphabets
print(my_str.isdigit()) #check the string contains digit
print(my_str.istitle()) #check the string contains title words
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('I'))
print(my_str.startswith('A'))

False
False
False
True
False
False
False
False
True

Boolean and logical operators

In [12]:
True and False

False

In [13]:
True or False

True

In [14]:
False or False

False

In [23]:
my_str = "AdityaNandi"
word = "Aditya"

In [26]:
print(my_str.isalpha())
print(word.isnumeric())
print(my_str.isnumeric())

True
False
False

In [27]:
my_str.isalpha() or word.isnumeric()

True

Lists

In [28]:
type([])

list

In [29]:
lst_example = []

In [30]:
type(lst_example)

list

In [31]:
lst = ['Maths','aditya',True,0,1, 100]

In [32]:
lst

['Maths', 'aditya', True, 0, 1, 100]

In [34]:
lst.append("nandi")

In [35]:
lst.insert(1,"Mahi")

In [36]:
lst

['Maths', 'Mahi', 'aditya', True, 0, 1, 100, 'nandi']

In [37]:
lst[1:]

['Mahi', 'aditya', True, 0, 1, 100, 'nandi']

In [38]:
lst[3:5]

[True, 0]

In [39]:
len(lst)

8

In [42]:
lst[7]

'nandi'

In [43]:
lst.append(["social","economics"])

In [44]:
lst

['Maths', 'Mahi', 'aditya', True, 0, 1, 100, 'nandi', ['social', 'economics']]

list with extend

In [45]:
lst.extend(['Dynamics','Kinemantics'])

In [46]:
lst

['Maths',
 'Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics',
 'Kinemantics']

In [48]:
lst.pop()

'Kinemantics'

In [49]:
lst

['Maths',
 'Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics']

In [50]:
lst.pop(0)

'Maths'

In [52]:
lst.count(0)

1

In [53]:
lst.index(1,1,4)

2

In [54]:
lst * 2

['Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics',
 'Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics']

In [58]:
lst

['Mahi',
 'aditya',
 True,
 0,
 1,
 100,
 'nandi',
 ['social', 'economics'],
 'Dynamics']

In [62]:
lst.index("aditya",1,4)

1

In [57]:
lst[2]

True

Sets

In [64]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

SETS - don't allow duplicates

In [65]:
set_var = {1,2,3,4,56,3}

In [66]:
set_var

{1, 2, 3, 4, 56}

In [69]:
set1 = {'Avengers','Iron man','spider man'}
set2 = {'Avengers','Iron man','Hulk','spider man'}

In [68]:
#indexing
#we can't have indexing in Sets

In [70]:
set2.difference(set1)

{'Hulk'}

In [71]:
set2

{'Avengers', 'Hulk', 'Iron man', 'spider man'}

In [72]:
set1.difference(set2)

set()

In [73]:
set2.intersection(set1)

{'Avengers', 'Iron man', 'spider man'}

Dictionaries

In [74]:
dict={}

In [75]:
type(dict)

dict

In [76]:
my_dict = {"car":"Audi","car2":"VW","car3":'Benz'}

In [77]:
my_dict

{'car': 'Audi', 'car2': 'VW', 'car3': 'Benz'}

In [79]:
#looping through the keys
for x in my_dict:
    print(x)

car
car2
car3

In [83]:
for x in my_dict.values():
    print(x)

Audi
VW
Benz

In [84]:
for x in my_dict.items():
    print(x)

('car', 'Audi')
('car2', 'VW')
('car3', 'Benz')

In [85]:
my_dict['car4'] = 'Zen'

In [86]:
c1_model = {'benz':1934}
c2_model = {'Auid':1970}
c3_model = {'Ambassador':1980}

In [87]:
car_type = {'car1':c1_model,'car2':c2_model,'car3':c3_model}

In [88]:
car_type

{'car1': {'benz': 1934}, 'car2': {'Auid': 1970}, 'car3': {'Ambassador': 1980}}

In [90]:
car_type['car1']

{'benz': 1934}

In [92]:
car_type['car1']['benz']

1934

Tuples

In [93]:
my_tuple = ()

In [94]:
type(my_tuple)

tuple

In [95]:
my_tuple = ("Aditya","nandi","varma")

In [96]:
l = [1,2,3,4,5,1213,1,23,4,5,1,2,3,4]

In [99]:
l= tuple(l)

In [100]:
type(l)

tuple

In [101]:
l.count(1)

3

In [104]:
l.index(1213)

5